@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Desenvolvedor:</strong> <a>João Paulo</a><br />
    <strong>E-Mail:</strong> <a href="joaopaulo.fr.1994@gmail.com">joaopaulo.fr.1994@gmail.com</a>
</address>
